$base_color: #2184FF;
$sub_color: #FFA708;
$sub-blue: #0877FF;
$white_color: #ffffff;
$shadow_color: #353535;

$border_color: #082140;

$header_bg: rgba($color: #fff, $alpha: 0.8);
$toggle_color: $sub_color;
$mapBtn_bg: $shadow_color;
$contactBtn_bg: $sub-blue;
$section_bg-white: #fafeff;
$section_bg-gray: #FAFAFA;
$section_shadow: #ccd4d9;
$section_shadow-blb: #1c70d9;
$section_shadow-blw: #2698ff;
$white_bg: $white_color;
$title_bg: $sub_color;
$content_bg: $base_color;
$recruitmentBtn_bg: rgba($color: $sub_color, $alpha: 0.5);
$footer_bg: $shadow_color;
$footerAccess_bg: $base_color;
$accessBtn_bg: $white_color;
$toTop: rgba($color: $sub_color, $alpha: 0.8);

$text_color: $shadow_color;
$text_white: $white_color;
$text_sub: #E5E5E5;