.top {
  &__news-page {
    position: relative;
    & .content__bg {
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
    }
    & img {
      height: 200px;
      object-fit: cover;
      margin: 0 auto;
    }
  }
}

.news-page {
  &__day,
  &__text {
    max-width: 800px;
    margin: 0 auto;
  }
  &__day {
    padding-bottom: 1em;
  }
  &__text {
    line-height: 2;
    letter-spacing: 0.07em;
  }
}